
body {
  padding: 0;
  margin: 0;
}

canvas {
  position: fixed;
  width: 100vh;
  height: 100vh;
}

#control, #popup {
  z-index: 1;
  position: fixed;
}

#popup {
  width: 100%;
  margin-top: -100vh;
}

#popup p {
  background-color: rgb(0,145,234);
  margin: auto;
  text-align: center;
  width: 50%;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.3em;
  font-family: sans-serif;
  font-size: 25px;
  opacity: 0.9;
}
